.InputConverstaion {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  border: .2rem solid var(--secondary);
  padding: .8rem;
  width: 70%;
  max-width: 30rem;
}